
.custom-cart{
    color: white;
    margin-bottom: 12px;
    
}

.cart-container button{
    background-color:transparent;
    border: none;
}
.cart-container{
    margin-right: none;
}

.cart-item-count{
    color: white;
}